/* Move down content because we have a fixed navbar that is 50px tall */
body {
	font-family: 'Arvo', serif;
  padding-top: 50px;
}



h1 {
	font-family: 'Arvo', serif;
	text-transform: uppercase;
	text-align: center;
}


footer {
  background-color: #2c3e50;
  padding-top: 100px;
  padding-bottom: 30px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

html,body {
    height:100%;
}

footer .fa {
	border-radius: 50%;
	border: 2px solid #7f8c8d;
	color: #7f8c8d;
	padding: 8px;
}

footer .fa:hover {
	color: #16a085;
	border: 2px solid #bdc3c7;
}


#jumbotron {
	height:100%;
}

#about {
	background-color: #7f8c8d;
}


#skills {
	background-color: #bdc3c7;
}

#projects {
	background-color: #ecf0f1;
}

#contact {
	background-color: #16a085;
}

#self {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
  	-moz-border-radius: 50%;
}

#back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
}

#back-to-top a {
	color: #333;
}

#mailbutton {
	color: white;
}

#mailbutton i:hover {
	color: #2c3e50;
}



.jumbotron {
	font-family: 'Arvo', serif;
	text-align: center;
	color: #ecf0f1;
	margin-bottom: 0;
	background-image: url("../images/chalk.jpg");
	padding-top: 250px;
	padding-bottom: 250px;
}

.about hr{
	width: 100px;
	border-top: 1px solid white;
	margin-top: 10px auto;
}

.about {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.about p {
	font-size: 150%;
}


.contact hr{
	width: 100px;
	border-top: 1px solid white;
	margin-top: 10px auto;
}

.contact p {
	font-size: 150%;
	margin-right: 10%;
	margin-left: 10%;
}

.contact {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.iconbox {
	background: #fff;
	border-bottom: 1px solid #d4d4d4;
	text-align: center;
	padding: 40px 20px;
	margin: 0 0 20px;
}






.skills {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 150%;
}

.skills hr{
	width: 100px;
	border-top: 1px solid white;
	margin-top: 10px auto;
}

.skills p {
	font-size: 80%;
}






.projects {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}

.projects p {
	font-size: 150%;
}

.projects hr{
	width: 100px;
	border-top: 1px solid #bdc3c7;
	margin-top: 10px auto;
}







